body {
  background: linear-gradient(to top, rgb(34, 34, 34) 0%, rgba(121, 230, 240, 0) 70%), url(./components/wave2.svg);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* .name {
  font-size: 2rem;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-style: oblique;
  color: #3f3d39;
  text-decoration: underline;
} */

.midInit {
  font-size: 30px;
}

.dot {
  color: rgb(177, 55, 55);
}

a {
  color: #57544c;
}

a:link {
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.05rem;
  text-decoration: none;
 }

a:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.2);
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgba(2, 31, 59, 0.979));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.img-gradient{
  position:relative;
  
}

.name {
  font-family: 'Libre Baskerville', serif;
  
}


/* 
#002f4b,#dc4225 
Convert HEX to RGBA - http://hex2rgba.devoth.com/
*/
.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(87, 22, 9, 0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(90, 20, 6, 0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(92, 24, 11, 0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(65, 18, 8, 0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,47,75,0.8) 0%,rgba(63, 17, 7, 0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.front {
  z-index: 1;
}

.front p {
  font-size: 1.2rem;
}

.card-img {
  max-width: 100%;
}

.profile-pic {
  clip-path: circle();
  width: 195px;
  border-color: #000;
  
}



/* .header-custom {
  border-bottom: ;
} */


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .card-img {
    height: 250px;
  }

  nav a {
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
